.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## Files and Folder Development
*.sql
/DB
/public/excel
/public/file_pendukung
/public/file_tugas_tambahan
/public/video
/public/buku
/.vscode

## Other Files
.ftpconfig
id_rsa
.ftpignore

### config
/application/config/database.php